:root {
    --grey-color: rgba(20, 20, 20, .6);
    --dark-blue: #0000A3;
    --highlight-color: #DF265E;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--grey-color);
}
header {
    height: 11vh;
    width: 100vw;
    background-color: white;
    text-align: center;
}
h1 {
    font-size: 2em;
    line-height: 1;
}
.options-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.board-container {
    height: 75vh;
    width: 97.24vw;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.board {
    background-color: white;
    height: 100%;
    width: 40%;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-template-rows: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-gap: 5px;
}
.square {
    background-color: var(--grey-color);
    height: 100%;
    width: 100%;
}
footer {
    height: 7vh;
    width: 100vw;
    background-color: white;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: ridge 1px var(--main-color);
}
a, a:link, a:visited { 
    text-decoration: none;
    color: black;
}
img {
    margin-bottom: -15px;
}
button {
    height: 3em;
    width: 75px;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#x, #o {
    width: 75px;
}
.inactive {
    background-color: hotpink;
    color: blue;
}
.active {
    background-color: blue;
    color: hotpink;
}
.options-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.square p {
    font-size: 7em;
}
#hidden-modal, #hidden-choices{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 25%;
    margin-top: calc(185.5px/2);
    height: fit-content;
    width: 250px;
    z-index: 1;
    padding: 20px;
    padding-top: 15px;
    border-radius: 8px;
    background-color: white;
}
#hidden-modal p {
    font-size: 2em;
}
