body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}
header {
    height: 24vh;
    width: 100vw;
    background-color: white;
    text-align: center;
}
h1 {
    font-size: 3em;
    line-height: 1;
}
.options-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.board-container {
    height: 65vh;
    width: 97.24vw;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.board {
    background-color: white;
    height: 100%;
    width: 40%;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-template-rows: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-gap: 5px;
}
.square {
    background-color: grey;
    height: 100%;
    width: 100%;
}
footer {
    height: 6vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    line-height: .7;
    border-top: ridge 1px var(--main-color);
}
a, a:link, a:visited { 
    text-decoration: none;
    color: black;
}
img {
    margin-bottom: -15px;
}
button {
    height: 3em;
    width: 75px;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#x, #o {
    width: 75px;
}
.inactive {
    background-color: hotpink;
    color: blue;
}
.active {
    background-color: blue;
    color: hotpink;
}
.options-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.square p {
    font-size: 7em;
}
#hidden-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 40.5;
    top: 40.5%;
    height: fit-content;
    width: 250px;
    z-index: 1;
    padding: 20px;
    padding-top: 15px;
    border-radius: 8px;
    background-color: white;
}
#hidden-modal p {
    font-size: 2em;
}